#header{
    position:fixed;
    background-color: white;
    z-index:100000;
    top:0;
    left:0;
    right:0;
    -webkit-box-shadow: 0px 5px 20px -10px var(--shadow-color);
    -moz-box-shadow: 0px 5px 20px -10px var(--shadow-color);
    box-shadow: 0px 5px 20px -10px var(--shadow-color);
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display:flex;
    flex-direction: row;
    box-sizing: border-box;
}
#headerLogoContainer, #headerTitleContainer{
    margin:0;
    padding:0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#headerLogo{
    height:80%;
    cursor: pointer;
}

#headerTitleContainer{
    width: 100%;
    flex-grow: 1;
}
#headerTitle{
    margin: 0;
    color: var(--apptweak-red)
}
#headerAccount{
    cursor: pointer;
}