#header{
    position:fixed;
    background-color: var(--background-color);
    z-index:100000;
    top:0;
    left:0;
    right:0;
    -webkit-box-shadow: 0px 5px 20px -10px var(--shadow-color);
    -moz-box-shadow: 0px 5px 20px -10px var(--shadow-color);
    box-shadow: 0px 5px 20px -10px var(--shadow-color);
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display:flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 5px;
}
#headerLogoContainer, #headerTitleContainer{
    margin:0;
    padding:0;
    height: 100%;
    display: flex;
    align-items: center;
}

#headerLogo, #headerLogoSmall{
    height:80%;
    cursor: pointer;
}

#headerLogoSmall{
    display: none;
}

#headerTitleContainer{
    width: 100%;
    flex-grow: 1;
    justify-content: center;
}

#headerTitle{
    margin: 0;
    color: var(--apptweak-red)
}

#headerAccount, #headerTheme{
    cursor: pointer;
}

@media screen and (max-width: 650px){
    #headerLogo{
        display: none;
    }

    #headerLogoSmall{
        display: block;
    }
}

@media screen and (max-width: 450px){
    #headerTitleContainer{
        display: none;
    }

    #headerLogoContainer{
        flex-grow: 1;
    }
}