#searchButton {
    margin-inline-start: 10px;
}

#searchInput {
    font-size:1em;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: var(--background-color);
    border: 1px solid var(--text-color);
    color: var(--text-color);
}